<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="main-container">
      <h1><%= t("home.title") %></h1>
      <h2><%= t("home.description") %></h2>


    </div>
    <div class="signup-container">
      <h1><%= t("home.signup.title") %></h1>
      <%= link_to t("home.signup.button"), signup_path, class: "btn btn-lg btn-primary", id: "signup-btn" %>
    </div>

  <%= render 'layouts/footer' %>
  </body>
</html>
