  <div class="card mr-5">
    <div class="card-body">
      <%= form_with(model: item, local: true) do |form| %>
        <% if item.errors.any? %>
          <div class="form-group alert au-alert-danger alert-dismissible fade show au-alert au-alert--70per">
            <%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:
            <ul>
              <% item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="card-title my-3">
            <h3 class="text-left title-2"><%= title %></h3>
        </div>

        <div class="form-group">
          <%= form.label :name, class: "control-label mb-1" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :description, class: "control-label mb-1" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :time, class: "control-label mb-1" %>
          <%= form.text_field :time, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :picture %>
          <%= form.file_field :image_url, direct_upload: true %>
        </div>

        <div class="form-group" id="recipes">
          <%= form.fields_for :recipes do |recipe| %>
            <%= render "recipe_fields", f: recipe %>
          <% end %>

        </div>

        <div class="form-group">
          <%= form.label :category_id, class: "control-label mb-1" %>
          <%= form.collection_select :category_id, Category.all, :id, :title, {}, {class: "form-control"} %>
        </div>

        <%= form.hidden_field :user_id, :value => current_user.id %>
        <button type="submit" class="btn btn-lg btn-info">Submit</button>
        
      <% end %>
    </div>
  </div>

  # <script>
  #   $(document).ready(function() {
      
  #     $('#recipes')
  #       .on('cocoon:before-insert', function(e, el_to_add) {
  #         $('.count').hide()
  #         el_to_add.fadeIn(1000)
  #       })
  #       .on('cocoon:after-insert', function(e, added_el) {
  #         $('.count').hide()
  #       })
  #       .on('cocoon:before-remove', function(e, el_to_remove) {
  #         $('.count').hide()
  #         $(this).data('remove-timeout', 1000)
  #         el_to_remove.fadeOut(1000)
  #       })
  #       .on('cocoon:after-remove', function(e, removed_el) {
  #       });
  #   });
  # </script>