<div class="mt-5 pt-5" style="background-color: #e5e5e5; min-height: 100vh" >
    <div class="row">
        <div class="col-lg-3">
            <%= render 'layouts/sidebar' %> 
        </div>
        <div class="col-lg-9 pl-0">
            <h2 class="mb-4">Items</h2>
            <div class="row mb-5">
              <div class="col-md-12">
                <div class="table-responsive table-responsive-data2">
                  <table class="table table-data2">
                      <thead>
                          <tr class="tr-shadow">
                              <th>Name</th>
                              <th>Description</th>
                              <th style="width: 50px">Time</th>
                              <th>Image</th>
                              <th>Category</th>
                              <th></th>
                              <th></th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @items.each do |item| %>
                          <tr class="tr-shadow">
                            <td><%= item.name %></td>
                            <td><%= item.description %></td>
                            <td><%= item.time %></td>
                            <td><%= image_tag item.image_url , width: '52', height: '52' %></td>
                            <td><%= item.category.title %></td>
                            <td><%= link_to 'Show', item %></td>
                            <td><%= link_to 'Edit', edit_item_path(item) %></td>
                            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, remote: :true, class: "delete-item" %></td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
            <%= link_to 'New Item', new_item_path,  class: "btn btn-lg btn-info text-white" %>
        </div>
    </div>
</div>
