<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @item.time %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image_url , width: '52', height: '52' %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
