<div class="container mt-5 pt-5">  
  <div class="item-container px-4 pb-5">
    <div class="row">
      <div class="col-md-8">
        <h3><%= link_to @item.category.title, @item.category %> > <%= @item.name %> </h3>
        <%= image_tag(@item.image_url, alt: @item.name, width: '500', height: '500', class: 'my-5') %>

        <h2 class="mb-4"><%= @item.name %></h2>
        <span class="mb-4 d-block"><%= @item.description %></span>
        <div class="item-time">
          <span class=" d-block">Time: <%= @item.time %></span>
        </div>
        
      </div>

      <div class="col-md-4">
        <h3>Relavite items</h3>
        
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
