<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span class="title"><%= t("home.footer.address") %></span>
        <span>500 Terry Francois Street</span>
        <span>San Francisco, CA 94158</span>
      </div>
      <div class="col-md-3">
        <span class="title"><%= t("home.footer.open") %></span>
        <span><%= t("home.footer.mon") %></span>
        <span><%= t("home.footer.sat") %></span>
      </div>
      <div class="col-md-3">
        <span class="title"><%= t("home.footer.contact") %></span>
        <span>123-456-7890</span>
        <span>info@mysite.com</span>
      </div>
      <div class="col-md-3">
        <span class="title"><%= t("home.footer.follow") %></span>
      </div>
    </div>
    <p>©2019 by Umihara. Proudly created with Wix.com</p>
  </div>
</footer>
