<!-- <div id="logo"></div> -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= form_tag(search_path, :method => "get", class: 'navbar-form navbar-left') do %>  
      <div class="input-group">  
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
        <div class="input-group-btn">  
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
        </div>  
      </div>  
    <% end %>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path, class: "header-item" %></li>
        <li><%= link_to "About",   about_path, class: "header-item"  %></li>
        <li class="dropdown">
            <a href="javascript:" class="dropdown-toggle header-item" data-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
              <% get_categories.each do |category| %>
                <li><%= link_to category.name, category %></li>
              <% end %>
            </ul>
          </li>

        <% if !logged_in? %>
          <li><%= link_to "Log in", login_path, class: "header-item"  %></li>

        <% elsif current_user.admin? %>
          <li><%= link_to "Users", '#', class: "header-item"  %></li>
          <li class="dropdown">
            <a href="javascript:" class="dropdown-toggle header-item" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_path(current_user)  %></li>
              <li><%= link_to "Items", items_path %></li>
              <li><%= link_to "Categories", categories_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% elsif logged_in? %>
          <li><%= link_to "Users", '#', class: "header-item"  %></li>
          <li class="dropdown">
            <a href="javascript:" class="dropdown-toggle header-item" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_path(current_user)  %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% end %>

      </ul>
    </nav>
  </div>
</header>
